<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Get Banking Account Balance</h2>

<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>

<form th:action="@{/get_balance}" th:object="${bankAccount}" method="POST">
    <table>

        <tr>
            <td>Bank Account Id</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Get!"/></td>
        </tr>
    </table>
</form>




</body>
</html>